NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgresexample
DB_PASS=postgresspasswordexample
DB_NAME=notification_db

#Redis
#REDIS_HOST=localhost

# Mail (Mailtrap API)
MAILTRAP_TOKEN=your-token-mail-trap
MAIL_FROM_ADDRESS=hello@email.app
MAIL_FROM_NAME=aplicationName

# AI
GEMINI_API_KEY=key-gemini